body{font-family: "Arial";backgroundColor = "red";}
h1{text-align: center;}
div {}
#toto{
	display: inline-flex;
}
#resultat{color:white;background-color: grey;width: 30%;font-size: 50px;color:black;float: left;display: inline-block;}
